<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8" />

	<title>Заголовок</title>
	<meta content="" name="description" />
	<link rel="shortcut icon" href="favicon.png" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="libs/bootstrap/bootstrap-grid-3.3.2.min.css" />
	<link rel="stylesheet" href="libs/owlcarousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="libs/owlcarousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" href="libs/magnific/magnific-popup.css">
	<link rel="stylesheet" href="libs/animate/animate.min.css">
	<link rel="stylesheet" href="css/fonts.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/media.css" />

</head>
<body>

	<header>
		<div class="container">
			<div class="row">
				<div class="top_line">
					<div class="col-md-6 col-sm-6">
						<div class="logo">ProKurs</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="top_phone">
							<div class="wrapper">
								<div class="tabs">
									<span class="tab">Львів</span> / 
									<span class="tab">Київ</span>
								</div>
								<div class="tab_content">
									<div class="tab_item">+38 (063) 999-99-99</div>
									<div class="tab_item">+38 (050) 888-88-88</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="top_header clearfix">
					<div class="col-md-12">
						<h1>Курси підвищення знань</h1>
						<h2>ProKurs у Львові та Києві</h2>
					</div>
				</div>
				<div class="tabs_header clearfix">
					<div class="col-md-7">
						<div class="wrapper">
							<div class="tabs clearfix">
								<span class="tab">Знижки учням</span>
								<span class="tab">
									<span class="hidden-sm hidden-xs">Додаткові знижки</span>
									<span class="hidden-md hidden-lg">Додатково</span>
								</span>
							</div>
							<div class="tab_content">
								<div class="tab_item">
									<ul>
										<li>10% власнику картки продовження навчання на наступному рівні;</li>
										<li>5% пред'явнику карти на всі програми навчання;</li>
										<li>3-5% на навчання закордоном.</li>
									</ul>
								</div>
								<div class="tab_item">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla cupiditate neque atque quas aliquid, impedit vel perspiciatis accusamus saepe, quaerat provident quis, ducimus dolore esse ad optio, consequatur sequi obcaecati.</p>
								</div>
								<div class="button_wrap">
									<a href="#hidden_form" class="button btn_red popup_c">Почати навчання</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="s_tizers">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="tizer_item">
							<p class="tizer_descr">
								<span>Більше 10 років</span><br>
								<strong>на ринку</strong>
							</p>	
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="second_tizer_item">
							<p class="tizer_descr">
								<span>Найбільш сучасні</span><br>
								<strong>методики</strong>
							</p>	
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="third_tizer_item">
							<p class="tizer_descr">
								<span>Кваліфіковані</span><br>
								<strong>викладачі</strong>
							</p>	
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="fourth_tizer_item">
							<p class="tizer_descr">
								<span>Гарантова</span><br>
								<strong>висока оцінка</strong>
							</p>	
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="s_profi">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Довірте навчання професіоналам</h2>
					<div class="row">
						<div class="col-md-8">
							<div class="profi_item">
								<div class="profi_text">
									<h3>Досвід</h3>
									<p>Ми успішно працюємо на ринку освітніх послуг уже <strong> більше 10 років, </strong> що підтверджується вдячними відгуками чисельних клієнтів.<br></p>
								</div>
							</div>
							<div class="second_profi_item profi_item">
								<div class="profi_text">
									<h3>Методика</h3>
									<p>Навчання кваліфікаціям проводится по найбільш сучасних автентичних підручниках. У нас працюють тільки <strong>досвідченні і кваліфіковані викладачі і професіонали, які мають сертифікати.</strong></p>
								</div>
							</div>
							<div class="third_profi_item profi_item">
								<div class="profi_text">
									<h3>Розміщення</h3>
									<p>Наші навчальні аудиторії зручно розміщені   <strong> в центрі Києва </strong> поруч із основними станціями метро та <strong> у центрі Львова </strong></p>
								</div>
							</div>
							<div class="fourth_profi_item profi_item">
								<div class="profi_text">
									<h3>Індивідуальність</h3>
									<p>Ми робимо акцент на індивідуальному підході до кожного учня і чіткій організації навчального процесу. <strong> Заняття також можуть проводитись вдома чи у офісах клієнтів </strong>.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<form>
								<h2>Зв'язатись із нами</h2>
								<label>
									<span>Ваше ім'я:</span>
									<input type="text" name="name" required />
								</label>
								<label>
									<span>Ваш телефон:</span>
									<input type="text" name="phone" required />
								</label>
								<label>
									<span>Ваше місто:</span>
									<select name="city">
										<option>Київ</option>
										<option>Львів</option>
									</select>
								</label> 
								<div class="button_wrap">
									<button class="button btn_green">Відправити заявку</button>
								</div>	
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="s_rewview s_dark" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Відгуки наших учнів</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="owl-carousel">
						<div class="review_item">
							<div class="image_wrap">
								<a href="img/review.jpg" class="popup"><img src="img/review.jpg" alt="reviewer photo" /></a>
							</div>
							<h4>Соломатіна Наталія</h4>
							<div class="hr"></div>
							<div class="row">
								<p class="col-md-8">
									Хочу подякувати ProKurs і Олені за проведені курси підвищення кваліфікації. Ці уроки допомогли мені подолати труднощі. Уроки проходили в дружній і безпосередній атмосфері, що сприяло хорошому засвоєнню матеріалу і мотивувало на подальші заняття. Олена завжди знаходила цікаві теми для обговорення.
								</p>
							</div>
						</div>
						<div class="review_item">
							<div class="image_wrap">
								<a href="img/korki.jpg" class="popup"><img src="img/korki.jpg" alt="reviewer photo" /></a>
							</div>
							<h4>Коркі Бучек</h4>
							<div class="hr"></div>
							<div class="row">
								<p class="col-md-8">
									Хочу подякувати ProKurs і Олені за проведені курси підвищення кваліфікації. Ці уроки допомогли мені подолати труднощі. Уроки проходили в дружній і безпосередній атмосфері, що сприяло хорошому засвоєнню матеріалу і мотивувало на подальші заняття. Олена завжди знаходила цікаві теми для обговорення.
								</p>
							</div>
						</div>
					</div>
				</div>		
			</div>	
		</div>
	</section>

	<section class="s_back s_dark">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>Підвищення знань із Prokurs - це оптимальне поєднання інтенсиву і поглибленого підходу</h3>
					<a href="#hidden_form" class="button btn_white popup_c">Відправити заявку</a>
				</div>
			</div>
		</div>
	</section>

	<section class="s_contacts">
		<div class="contacts_top">
			<h2>Як нас знайти: </h2>
			<div class="tabs">
				<span class="tab button btn_white">У Львові</span> 
				<span class="tab button btn_white">У Києві</span>
			</div>
		</div>
		<div class="wrapper clearfix">
			<div class="tab_content">
				<div class="tab_item">
					вул. Шевченка, буд. 22, корпус 2
					<div class="map">
						<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae04a142220c2800efc40dc17ae97e07141b026451f839a87167832fa82866c1f&amp;width=100%25&amp;height=480&amp;lang=ru_UA&amp;scroll=true"></script>
					</div> 
			    </div>
				<div class="tab_item">
					вул. Львівська, буд. 23, корпус 3
					<div class="map">
						<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A76ac21df147d0a10f3dfec28732e521abca79cb6d6e4c641e44a9eefa8e219ce&amp;width=100%25&amp;height=480&amp;lang=ru_UA&amp;scroll=true"></script>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Залишились запитання?</h2>
					<p>Наш спеціаліст дасть відповідь на будь-яке запитання</p>
					<div class="bottom_phone">
						<div class="wrapper">
							<div class="tabs">
								<span class="tab">Львів</span> /
								<span class="tab">Київ</span>
							</div>
							<div class="tab_content">
								<div class="tab_item">+38 (063) 999-99-99</div> 
								<div class="tab_item">+38 (050) 888-88-88</div>
							</div>
						</div>
					</div>
					<div class="button_wrap">
						<a href="#form_back" class="button btn_red popup_c">Замовити дзвінок</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
	<div class="hidden">
		<form id="hidden_form">
			<h2>Зв'язатись із нами</h2>
			<label>
				<span>Ваше ім'я:</span>
				<input type="text" name="name" required />
			</label>
			<label>
				<span>Ваш телефон:</span>
				<input type="text" name="phone" required />
			</label>
			<label>
				<span>Ваше місто:</span>
				<select name="city">
					<option>Київ</option>
					<option>Львів</option>
				</select>
			</label> 
			<div class="button_wrap">
				<button class="button btn_green">Відправити заявку</button>
			</div>	
		</form>
		<form id="form_back">
			<h2>Замовити дзвінок</h2>
			<label>
				<span>Ваше ім'я:</span>
				<input type="text" name="name" required />
			</label>
			<label>
				<span>Ваш телефон:</span>
				<input type="text" name="phone" required />
			</label>
			<div class="button_wrap">
				<button class="button btn_green">Відправити заявку</button>
			</div>	
		</form>
	</div>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
	
	<script src="libs/jquery/jquery-1.11.2.min.js"></script>
	<script src="libs/modernizr/modernizr.js"></script>
	<script src="libs/stellar/jquery.stellar.min.js"></script>
	<script src="libs/owlcarousel/owl.carousel.min.js"></script>
	<script src="libs/magnific/jquery.magnific-popup.min.js"></script>
	<script src="libs/waypoints/waypoints.min.js"></script>
	<script src="libs/animate/animate-css.js"></script>
	<script src="js/common.js"></script>

	<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
	<!-- Google Analytics counter --><!-- /Google Analytics counter -->
	
</body>
</html>






